{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/grumblr.css' %}" rel="stylesheet">
    <link href="{% static 'css/confirmEmail.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar_header %}
    <a href="{% url 'userlogin' %}" class="navbar-brand" href="#">Grumblr</a>
{% endblock %}

{% block navbar_right %}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-click"><a href="{% url 'userlogin' %}" class="nav-href">Log in</a></li>
        <li class="nav-click"><a href="{% url 'register' %}" class="nav-href">Sign up</a></li>
    </ul>
{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

    <div class="confirm-container">
        <br>
        <br>

        <h5>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}</h5>
        <h5>{% trans "You should receive them shortly." %}</h5>
        <h5>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</h5>

        <br>
        <br>
    </div>


{% endblock %}