{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Wait for confirmation{% endblock %}

{% block style %}
    <link href="{% static 'css/grumblr.css' %}" rel="stylesheet">
    <link href="{% static 'css/confirmEmail.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar_header %}
    <a href="{% url 'userlogin' %}" class="navbar-brand" href="#">Grumblr</a>
{% endblock %}

{% block navbar_right %}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-click"><a href="{% url 'userlogin' %}" class="nav-href">Log in</a></li>
        <li class="nav-click"><a href="{% url 'register' %}" class="nav-href">Sign up</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="confirm-container">
        <h4>Email confirmation is needed to activate your account.</h4>
        <h4>Now go to your registered email address: {{ email }}, click it and start your Grumblr!</h4>
    </div>
{% endblock %}
