{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/grumblr.css' %}" rel="stylesheet">
    <link href="{% static 'css/passwordChange.css' %}" rel="stylesheet">
{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar_header %}
    <a href="{% url 'userlogin' %}" class="navbar-brand" href="#">Grumblr</a>
{% endblock %}

{% block navbar_right %}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-click"><a href="{% url 'userlogin' %}" class="nav-href">Log in</a></li>
        <li class="nav-click"><a href="{% url 'register' %}" class="nav-href">Sign up</a></li>
    </ul>
{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div class="done-container">
        <br>
        <br>
        <h4>{% trans 'Your password was changed. You may log in by the new password now.' %}</h4>
        <h3><a class="red-words" href="{% url 'userlogin' %}">{% trans 'Log in' %}</a></h3>
        <br>
        <br>
    </div>

{% endblock %}

